@CHARSET "UTF-8";

small {
	color: #DDDDDD;
}

.login-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.left {
	width: 200px;
	float: left;
}

.right {
	width: 200px;
	float: left;
}

.navi {
	width: 100%;
}

.spittles,.spitterInfo {
	border: 1px solid #DDDDDD;
	border-radius: 5px 5px 5px 5px;
	float: left;
	margin-left: 15px;
}

.spitterInfo {
	border: 1px solid #DDDDDD;
	border-radius: 5px 5px 5px 5px;
	float: left;
	margin-left: 15px;
	margin-bottom: 15px;
	width: 400px;
	padding: 5px;
}

.spitterInfo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.spittles>ul {
	list-style-type: none;
	margin: 0px;
}

.spittles>ul>li {
	border-top: 1px solid #DDDDDD;
	margin-top: -1px;
}

.spittles>ul>li:HOVER {
	background-color: #EEEEEE;
}

.spitterListText {
	width: 400px;
	padding: 5px;
}

.spitterListText .spittle-header {
	width: 100%;
}

.rightElements {
	text-align: right;
}

/***** LOGIN *****/
.login-body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin input[type="text"],.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

/***** REGISTRATION *****/
#regForm tr th label {
	float: left;
}